BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
SEPOLIA_RPC_URL=
LANDCHAIN_CONTRACT_ADDRESS=
BLOCKCHAIN_PRIVATE_KEY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=landchain

NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
PUBLIC_DEMO_POSTS_PER_MINUTE=20
